<style>
  body{
    background-color: lightblue;
  }
</style>



<a href="WorldData/AllCountries">View All Countries</a>
<a href="WorldData/CreateCountry">Add a Country</a>


<a href="WorldData/AllCities">View All Cities</a>
<a href="WorldData/CreateCity">Add a City</a>
