<style>
  body{
    background-color: lightblue;
    text-align: center;
  }
  a{
    margin: 20px;
  }
</style>



<a href="WorldData/AllCountries">View All Countries</a>
<a href="WorldData/AllCities">View All Cities</a>
